{% extends "mainapp/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div style="background:url('../../static/images/sandra-back1.jpeg');background-repeat:repeat;">
<p class="about-banner-text2 text-center pb-5" style="color:#000;">{% trans "EDC Community" %}</p>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{% static 'images/EDCCommunity-Family.png' %}" class="img-fluid">
                </div>
            </div>
            <p class="text-center" style="font-size:22px;color:#014f42;line-height:30px;font-weight:bold;">{% trans "Family" %}</p>
            <!-- <center><hr width="40%" style="border:2px solid #CC3E18; height:2px; border-color:#CC3E18 !important;"></center> -->
            <p class="text-center">
                {% blocktrans %}Our family packages create an avenue for bonding with your loved ones, immersing 
                your family in a different culture and giving back to communities.{% endblocktrans %}
            </p>
        </div>
        <div class="col-md-4">
            <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{% static 'images/EDCCommunity-Friends.png' %}" class="img-fluid">
                </div>
            </div>
            <p class="text-center" style="font-size:22px;color:#014f42;line-height:30px;font-weight:bold;">{% trans "Friends" %}</p>
            <!-- <center><hr width="40%" style="border:2px solid #CC3E18; height:2px; border-color:#CC3E18 !important;"></center> -->
            <p class="text-center">
                {% trans "Our friends package takes buddies through an experience that strengthens friendships and transforms social lives for the better." %}
            </p>
        </div>
        <div class="col-md-4">
            <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{% static 'images/EDCCommunity-Students.png' %}" class="img-fluid">
                </div>
            </div>
            <p class="text-center" style="font-size:22px;color:#014f42;line-height:30px;font-weight:bold;">{% trans "Students" %}</p>
            <!-- <center><hr width="40%" style="border:2px solid #CC3E18; height:2px; border-color:#CC3E18 !important;"></center> -->
            <p class="text-center">
                {% blocktrans %}This package takes students through an experiential journey of personal growth that enables them to develop new 
                skills, meet new people and even improve their career prospects{% endblocktrans %}
            </p>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-md-4">
            <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{% static 'images/EDCCommunity-Employees.png' %}" class="img-fluid">
                </div>
            </div>
            <p class="text-center" style="font-size:22px;color:#014f42;line-height:30px;font-weight:bold;">{% trans "Employees" %}</p>
            <!-- <center><hr width="40%" style="border:2px solid #CC3E18; height:2px; border-color:#CC3E18 !important;"></center> -->
            <p class="text-center">
                {% blocktrans %}Our employee program is a planned and managed initiative that seeks to motivate and enable employees to effectively meet organizational needs, 
                boost productivity, increase employee engagement and enhance employee retention through the leadership of the employer.{% endblocktrans %}
            </p>
        </div>
        <div class="col-md-4">
            <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{% static 'images/EDCCommunity-Individuals.png' %}" class="img-fluid">
                </div>
            </div>
            <p class="text-center" style="font-size:22px;color:#014f42;line-height:30px;font-weight:bold;">{% trans "Individuals" %}</p>
            <!-- <center><hr width="40%" style="border:2px solid #CC3E18; height:2px; border-color:#CC3E18 !important;"></center> -->
            <p class="text-center">
                {% blocktrans %}This package is designed for individuals looking to immerse themselves in a journey of self actualization and allows individuals to develop a deep 
                understanding of the culture, community and country where they are volunteering, and they are highly rewarding.{% endblocktrans %}
            </p>
        </div>
        <div class="col-md-4">
            <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{% static 'images/EDCCommunity-Teachers.png' %}" class="img-fluid">
                </div>
            </div>
            <p class="text-center" style="font-size:22px;color:#014f42;line-height:30px;font-weight:bold;">{% trans "Teachers" %}</p>
            <!-- <center><hr width="40%" style="border:2px solid #CC3E18; height:2px; border-color:#CC3E18 !important;"></center> -->
            <p class="text-center">
                {% trans "The teachers' package allows teachers to bring their knowledge and skills to eager but underserved children. to help improve educational practices and processes." %}
            </p>
        </div>
    </div>
</div><br><br><br>
</div>

{% include "mainapp/footer.html" %}
{% endblock content %}