<div style="background-color: #014F42;">
    <div class="">
        <footer class="flex-wrap justify-content-between py-2 border-top">
            <div class="py-2"></div>
            <div class="col-md-5 d-flex justify-content-start">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>
                <span class="footer-alt-text">Copyright © 2022 | All Rights Reserved</span>
            </div>
            <div class="py-1"></div>
        </footer>
    </div>
</div>

