<div style="background-color:#014F42;">
    <div class="container d-none d-sm-block">
        <footer class="py-5">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <p class="footer-title">ABOUT US</h5>
                    <div class="pt-3">
                        <p class="footer-text"><a href="{% url 'mainapp:contact' %}" style="color:#fff;text-decoration:none">Contact Us</a></p>
                        <p class="footer-text"><a href="{% url 'mainapp:services' %}" style="color:#fff;text-decoration:none"></a>How we run</p>
                        <p class="footer-text"><a href="{% url 'mainapp:about' %}" style="color:#fff;text-decoration:none">Structure and People</a></p>
                    </div>
                </div>

                <div class="col-md-3  mb-3">
                    <p class="footer-title">RESOURCES</h5>
                    <div class="pt-1">
                        <p class="footer-text"><a href="#" style="color:#fff;text-decoration:none;">Media Center</a></p>
                        <p class="footer-text"><a href="{% url 'mainapp:contact' %}#faqs" style="color:#fff;text-decoration:none;">FAQs</a></p>
                        <!-- <p class="footer-text">Human Rights Courses</p> -->
                        <p class="footer-text">Annual Reports</p>
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                    <p class="footer-title">GET INVOLVED</h5>
                    <div class="pt-1">
                        <p class="footer-text"><a href="{% url 'mainapp:programs' %}" style="color:#fff;text-decoration:none;">Our Programs</a></p>
                        <p class="footer-text">Take Action</p>
                        <p class="footer-text"><a href="{% url 'mainapp:application-form' %}"></a>Volunteer with Us</p>
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                    <p class="footer-title">LATEST</h5>
                    <div class="pt-1">
                        <p class="footer-text"><a href="{% url 'mainapp:news' %}" style="color:#fff;text-decoration:none;">News</a></p>
                        <p class="footer-text">Campaigns</p>
                        <p class="footer-text">Research</p>
                    </div>
                </div>
            </div>
            <p class="footer-title">WORK WITH US</p>
            <p class="footer-text">We integrate international experience, community service and supervision and implementation support to ensure that our clients get the best outcomes from our various programs</p>
            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 border-top">
                <p class="footer-bottom-text">Copyright © 2022 | Privacy Policy</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                <use xlink:href="#twitter"></use>
                            </svg></a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                <use xlink:href="#instagram"></use>
                            </svg></a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                <use xlink:href="#facebook"></use>
                            </svg></a></li>
                </ul>
            </div>
        </footer>
    </div>

    <!-- Mobile View -->
    <div class="container d-block d-sm-none">
        <footer class="pt-5">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <p class="footer-title">ABOUT US</h5>
                    <div class="pt-1">
                        <p class="footer-text"><a href="{% url 'mainapp:contact' %}" style="color:#fff;text-decoration:none">Contact Us</a></p>
                        <p class="footer-text"><a href="{% url 'mainapp:services' %}" style="color:#fff;text-decoration:none"></a>How we run</p>
                        <p class="footer-text"><a href="{% url 'mainapp:about' %}" style="color:#fff;text-decoration:none">Structure and People</a></p>
                    </div>
                </div>

                <div class="col-md-3  mb-3">
                    <p class="footer-title">RESOURCES</h5>
                    <div class="pt-1">
                        <p class="footer-text"><a href="#" style="color:#fff;text-decoration:none;">Media Center</a></p>
                        <p class="footer-text"><a href="{% url 'mainapp:contact' %}#faqs" style="color:#fff;text-decoration:none;">FAQs</a></p>
                        <!--<p class="footer-text">Human Rights Courses</p> -->
                        <p class="footer-text">Annual Reports</p>
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                    <p class="footer-title">GET INVOLVED</h5>
                    <div class="pt-1">
                        <p class="footer-text"><a href="{% url 'mainapp:programs' %}" style="color:#fff;text-decoration:none;">Our Programs</a></p>
                        <p class="footer-text">Take Action</p>
                        <p class="footer-text"><a href="{% url 'mainapp:application-form' %}"></a>Volunteer with Us</p>
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                    <p class="footer-title">LATEST</h5>
                    <div class="pt-1">
                        <p class="footer-text"><a href="{% url 'mainapp:news' %}" style="color:#fff;text-decoration:none;">News</a></p>
                        <p class="footer-text">Campaigns</p>
                        <p class="footer-text">Research</p>
                    </div>
                </div>
            </div>
            <p class="footer-title">WORK WITH US</p>
            <p class="footer-text">We integrate international experience, community service and supervision and implementation support to ensure that our clients get the best outcomes from our various programs</p>
            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 border-top">
                <p class="footer-bottom-text">Copyright © 2022 | Privacy Policy</p>
                
            </div>
        </footer>
    </div>
    <!-- End of Mobile View -->
</div>
