{% load static %}
<style>

</style>
<nav class="navbar navbar-expand-lg bg-light p-2">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/elandomelogo.png' %}" alt="elandome logo" style="height:50px;width:auto"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link px-2 px-2 active navlinkbold" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 navlinkbold" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 navlinkbold" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 navlinkbold" href="#">Contact</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li> -->
            </ul>
            <button class="signin-button me-2 gap">
                <span class="signin-text pb-2">Sign in</span>
            </button>
            <button class="getintouch-button">
                <span class="getintouch-text">Get in touch - it's free</span>
            </button>
            
        </div>
    </div>
</nav>