{% extends "mainapp/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div style="background:url('../../static/images/sandra-back7.jpeg');background-repeat:repeat;">
<p class="programs-page-title">{% trans "Our Programs" %}</p>
<div class="container pb-5">
    <div class="row d-flex align-items-center">
        <div class="col-6">
            <div class="d-flex justify-content-center">
                <img src="{% static 'images/programs-volunteer.png' %}" class="img-fluid" alt="programs image">
            </div>
            <p class="text-center programs-text">{% trans "Volunteer Services" %}</p>
        </div>
        <div class="col-6">
            <p>
                {% blocktrans %}The OBC volunteer program was created in honor of the Late Engineer Okore Booker Charles. 
                This program has been carefully curated to reflect and inculcate the values that he lived by 
                throughout his life in community service and social impact. <br><br>The OBC volunteer program will help 
                you render assistance to underprivileged and underserved communities where you will experience 
                traditional cultures and even get a chance to interact with rich wildlife all while supporting 
                a good cause and creating a positive impact in the society.{% endblocktrans %}
            </p>
            <center>
                <a href="{% url 'mainapp:volunteer-application' %}" style="text-decoration: none;">
                    <button type="submit" class="signin-button" style="border-radius:6px !important;">
                        <span class="signin-text">{% trans "Apply to be a volunteer" %}</span>
                    </button>
                </a>
            </center>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-6">
            <p>
                {% blocktrans %}We help you to build action oriented strategic plans, communication, business development, marketing 
                and partnership strategies, internal policies and customer experience needs in the following industry 
                categories and sectors : SMEs, FMCG, Consulting firms, INGOs, not for profit organizations including 
                CBOs, CSOs, FBOs, civil societies, government, academic institutions and individuals.{% endblocktrans %}
            </p>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-center">
                <img src="{% static 'images/programs-planning.png' %}" class="img-fluid" alt="programs image">
            </div>
            <p class="text-center programs-text">{% trans "Investment supervision, coordination and implementation" %}</p>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-6">
            <div class="d-flex justify-content-center">
                <img src="{% static 'images/programs-project-management.png' %}" class="img-fluid" alt="programs image">
            </div>
            <p class="text-center programs-text">{% trans "Project Management" %}</p>
        </div>
        <div class="col-6">
            <p>
                {% blocktrans %}We are the  first choice custodians of your projects and resources on ground. We source for quality and 
                competitive resource plans, quotations, unique development plans and bespoke designs that are fairly priced 
                and work with reputable excerpts to execute your vision and deliver beyond the expected outcomes. <br><br>Our areas 
                of focus include: research, digitization, real estate & construction, corporate events (workshops and employee 
                development programs), budgeting exercises and project fundraising initiatives.{% endblocktrans %}
            </p>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-6">
            <p>
                {% blocktrans %}We design, recruit, facilitate, assess, tailormake and report on extra ordinary workshops, team building  
                and training initiatives for teams and organizations. Our primary focus is on{% endblocktrans %}:
                <br><br>
                <span style="font-weight:bold">a.</span> {% trans "Management i.e crisis management, change management, conflict management and overall team management." %}<br><br>
                <span style="font-weight:bold">b.</span> {% blocktrans %}Leadership i.e adaptable leadership, progressive organization culture, next level leadership, performance 
                (financial & operational) and decision making analysis & design){% endblocktrans %}
            </p>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-center">
                <img src="{% static 'images/programs-workshop.png' %}" class="img-fluid" alt="programs image">
            </div>
            <p class="text-center programs-text">{% trans "Workshops & Training" %}</p>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-6">
            <div class="d-flex justify-content-center">
                <img src="{% static 'images/programs-career-counselling.png' %}" class="img-fluid" alt="programs image">
            </div>
            <p class="text-center programs-text">{% trans "Career Counselling" %}</p>
        </div>
        <div class="col-6">
            <p>
                {% trans "We walk with you the journey to discovering what sets your soul on fire professionally." %} <br><br>{% blocktrans %}We help you develop skills that support your professional 
                vision and ad-ons aimed at realizing your professional goals such as communication, ethics, personal presentation & profiling, international 
                opportunities search criteria, preparation for the next level, value brnding per work outcome, knowing when to leave and winning negotiation skills for contracts.{% endblocktrans %}
            </p>
        </div>
    </div><br><br>
    <center>
        <a href="{% url 'mainapp:contact' %}" style="text-decoration: none;">
            <button type="submit" class="signin-button" style="border-radius:6px !important;">
                <span class="signin-text">{% trans "Still want to know more? Let's Talk" %}</span>
            </button>
        </a>
    </center>
</div>
</div>

{% include "mainapp/footer-alt.html" %}
{% endblock content %}