<div style="background-color:#014F42;">
    <div class="container">
        <footer class="py-5">
            <div class="row">
                <div class="col-3  mb-3">
                    <p class="footer-title">ABOUT US</h5>
                    <div class="pt-3">
                        <p class="footer-text"><a href="{% url 'mainapp:contact' %}" style="color:#fff;text-decoration:none">Contact Us</a></p>
                        <p class="footer-text"><a href="{% url 'mainapp:services' %}" style="color:#fff;text-decoration:none"></a>How we run</p>
                        <p class="footer-text"><a href="{% url 'mainapp:about' %}" style="color:#fff;text-decoration:none">Structure and People</a></p>
                    </div>
                </div>

                <div class="col-3  mb-3">
                    <p class="footer-title">RESOURCES</h5>
                    <div class="pt-3">
                        <p class="footer-text">Media Center</p>
                        <p class="footer-text">Human Rights Education</p>
                        <p class="footer-text">Human Rights Courses</p>
                        <p class="footer-text">Annual Reports</p>
                    </div>
                </div>

                <div class="col-3  mb-3">
                    <p class="footer-title">GET INVOLVED</h5>
                    <div class="pt-3">
                        <p class="footer-text"><a href="" style="color:#fff;text-decoration:none;">Join</a></p>
                        <p class="footer-text">Take Action</p>
                        <p class="footer-text"><a href="{% url 'mainapp:contact' %}"></a>Volunteer with Us</p>
                    </div>
                </div>

                <div class="col-3  mb-3">
                    <p class="footer-title">LATEST</h5>
                    <div class="pt-3">
                        <p class="footer-text">News</p>
                        <p class="footer-text">Campaigns</p>
                        <p class="footer-text">Research</p>
                    </div>
                </div>
            </div>
            <p class="footer-title">WORK WITH US</p>
            <p class="footer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br>eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p class="footer-bottom-text">Copyright © 2022 | Privacy Policy</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                <use xlink:href="#twitter"></use>
                            </svg></a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                <use xlink:href="#instagram"></use>
                            </svg></a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                <use xlink:href="#facebook"></use>
                            </svg></a></li>
                </ul>
            </div>
        </footer>
    </div>
</div>
