{% load static %}
<style>

</style>
<nav class="navbar navbar-expand-lg bg-light p-2">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/elandomelogo.png' %}" alt="elandome logo" style="height:50px;width:auto"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link px-2 px-2  navlinkbold" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link px-2 navlinkbold dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Who We Are
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'mainapp:about' %}">About Us</a></li>
                        <li><a class="dropdown-item" href="{% url 'mainapp:history' %}">Our History</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 navlinkbold {{active}}" href="{% url 'mainapp:services' %}">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 navlinkbold {{active}}" href="{% url 'mainapp:portfolio' %}">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 navlinkbold {{active}}" href="{% url 'mainapp:programs' %}">Programs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 navlinkbold {{active}}" href="{% url 'mainapp:contact' %}">Contact</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li> -->
            </ul>&nbsp;&nbsp;
            <a href="{% url 'mainapp:volunteer-application' %}">
                <button class="signin-button me-2 gap">
                    <span class="signin-text pb-2">Join Us</span>
                </button>
            </a>
            <a href="{% url 'mainapp:contact' %}" style="text-decoration: none;">
                <button class="getintouch-button">
                    <span class="getintouch-text">Get in touch - it's free</span>
                </button>
            </a>
        </div>
    </div>
</nav>